<div class="modal fade" id="exportModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">
            <i class="bi bi-download me-2"></i>Экспорт данных
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
              <i class="bi bi-filetype-pdf me-2"></i>PDF
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <i class="bi bi-filetype-csv me-2"></i>CSV
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <i class="bi bi-filetype-json me-2"></i>JSON
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>